@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700&display=swap');

:root{
/*Text*/
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
/*Background*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
/*Text neutral*/
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
/*Dividers*/
    --light-grayish-blue: hsl(240, 5%, 91%);
}
/*
*{
    margin: 0;
    padding: 0;
    
}*/


body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-image: linear-gradient(var(--soft-violet),
    var(--soft-blue));
    
}

.card{
    background-color: white;
    border-radius: 2rem;
    max-width: 56rem;
}



.card__image{
    width: 100%;
    height: auto;
    max-width: 25rem;
}

.card__text{
    
}

@media (min-width: 56em){
    .card{
        display:flex;
    }

    .card__image,
    .card__text{
    flex:1;
}
}



